<form #userForm="ngForm">
  <div class="form-element">
    <label>Name</label>
    <input
      type="text"
      [(ngModel)]="userModel.name"
      placeholder="User Name"
      #userName="ngModel"
      required
      minlength="3"
      name="name12"
    />
    <div *ngIf="userName.touched && userName.invalid">
      control is invalid
    </div>
  </div>
  <div class="form-element">
    <input
      type="text"
      [(ngModel)]="userModel.age"
      placeholder="User Age"
      name="age"
    />
  </div>
</form>

Form Status: {{ userForm.value | json }}
