<form #userForm="ngForm">
  <div class="form-element">
    <label>Name</label>
    <input
      type="text"
      [(ngModel)]="userModel.name"
      placeholder="User Name"
      #userName="ngModel"
      required
      name="name"
    />
  </div>
  <div class="form-element">
    <input
      type="text"
      [(ngModel)]="userModel.age"
      placeholder="User Age"
      name="age"
    />
  </div>
</form>

<!-- <div>Touched: {{ userName.touched }}</div>
<div>Pristine: {{ userName.pristine }}</div>
<div>Invalid: {{ userName.invalid }}</div>
<div>Dirty: {{ userName.dirty }}</div> -->
