<app-user-form></app-user-form>

<input type="text" [(ngModel)]="name" />

<div>
  Filter the list: <input type="text" [(ngModel)]="listFilter" /><button
    (click)="toggleList()"
  >
    Toggle list
  </button>
</div>
<div *ngIf="isListShown">
  <div
    *ngFor="
      let u of (userService.employees$ | async | lengthValidator: listFilter)
    "
  >
    <app-user-info [user]="u" (dec)="dec($event)"></app-user-info>
  </div>
</div>

<button (click)="addEmployee()">
  Add More Employees
</button>
